html, body {
  margin: 0;
  height: 100%;
  background-color: #161616;
}
/*******************************Les titres************************************/
h3{
  font-family: 'Monoton', cursive;
  font-size: 50px;
  padding-bottom:10px;
}
h4{
    font-size: 20px;
}
h5{
    font-size: 20px;
}

/****************************Article et Section*******************************/
article{
  font-size: 20px;
  font-family:font-family: 'Hammersmith One', sans-serif;
  line-height :30px ;
}
section{
  padding: 10%;
}

/******************************barre de navigation****************************/
.container {
  font-family: helvetica;
}

li {
  float: left;
  list-style-type: none;
  margin: 0 0 0 30px;
}

a {
  padding: 10px 15px;
  color: #c0a062;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0,0,0, 0.3);
  -webkit-transition: all 0.75s ease-in-out;
  -moz-transition: all 0.75s ease-in-out;
  -o-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}

a:hover, a:focus {
  color: black;
  background: #fff;
  background: rgba(255,255,255, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
}
/**************************Page de Garde**************************************/
.logo{
  padding-top: 10px;
  text-align: center;
}
.page1{
  background: url(images/dev.png);
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 50%;
}
h1{
  text-align: center;
  line-height: 50px;
  margin-top: 45px;
  margin-left: 60px;
  font-size: 25px;
  font-family: 'Rock Salt', cursive;
  color: #161616;
}

header{
  height:100px;
}
/**************************Qui suis-je******************************************/
.page2{
  text-align: center;
  padding-bottom: 50%;
  background-color: #161616;
}
#para1{
  font-size: 20px;
  color: #c0a062;

}
/*************************Competence******************************************/
.page3{
  text-align: center;
  text-shadow: 1px 1px 1px #080808;
  color:#FFFEFD;
  background-image: url("./images/ex.png");
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 50%;
  background-color: #FFFFFF;
}
#para2{
  color: #c0a062;
  font-size: 20px;

}
/*************************Projets*****************************************/
.page4{
  text-align: center;
  padding-bottom: 50%;
  background-color: #161616;
}
#para3{
  font-size: 20px;
  color:#c0a062;

}
/**************************Loisirs********************************************/
.page5{
  text-shadow: 1px 1px 1px #080808;
  text-align: center;
  color:#FFFEFD;
  background-image: url("./images/loi.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 50%;
  img{
      width: 50px;
      height: 50px;
  }
}
#para4{
  font-size: 20px;

}
/*************************Contact*********************************************/
.page6{
  
  color: #c0a062;
  text-align: center;
  background-color: #161616;
  font-size: 20px;
  padding-bottom: 50%;
}
/**************************Reponsive*****************************************/
@media screen and (min-width: 320px) and (max-width:940px){
html{
  margin: auto;
  padding: inherit;
}
h3{
  font-size: 35px;
}
nav{
  display: none;
}
.page1{
  background: none;
  background-color: #F0EDCA;
}
#para2{
    color: black;
}
.page3{
  background: none;
  background-color: #F0EDCA;
  color: #000;
  text-align: center;
}
.page5{
  background: none;
  background-color: #F0EDCA;
  color: #000;
  
}
.mobile {
    width: 100%;
    height: auto;
}
.page1,.page2,.page3,.page4,.page5,.page6{
    padding-bottom: 100%;
}

