html, body {
  margin: 0;
  height: 100%;
  background-color: #161616;
}
/*******************************Les titres************************************/
h3{
  font-family: 'Monoton', cursive;
  font-size:50px;
  margin-bottom: 30px;
}
/****************************Article et Section*******************************/
article{
  font-size: 20px;
  font-family:font-family: 'Hammersmith One', sans-serif;
  line-height :30px ;
}
section{
  padding: 10%;
}

/******************************barre de navigation****************************/
.container {
  font-family: helvetica;
}

li {
  float: left;
  list-style-type: none;
  margin: 0 0 0 30px;
}

a {
  padding: 10px 15px;
  color: #c0a062;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0,0,0, 0.3);
  -webkit-transition: all 0.75s ease-in-out;
  -moz-transition: all 0.75s ease-in-out;
  -o-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}

a:hover, a:focus {
  color: black;
  background: #fff;
  background: rgba(255,255,255, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
}
/**************************Page de Garde**************************************/
.logo{
  padding-top: 10px;
  text-align: center;
}
.page1{
  background: url(images/dev.png);
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 55%;
}
h1{
  text-align: center;
  line-height: 69px;
  margin-top: 45px;
  margin-left: 60px;
  font-size: 25px;
  font-family: 'Rock Salt', cursive;
  color: #161616;
}

header{
  height:100px;
}
/**************************Formation******************************************/
.page2{
  text-align: center;
  padding-bottom: 55%;
  background-color: #161616;
}
#para1{
  font-size: 20px;
  color: #c0a062;
  margin-top: 20px;
  padding-left: 45px;
}
/*************************Experience******************************************/
.page3{
  text-align: center;
  text-shadow: 1px 1px 1px #080808;
  color:#FFFEFD;
  background-image: url("./images/ex.png");
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 55%;
  background-color: #FFFFFF;
}
#para2{
  color: #c0a062;
  font-size: 20px;
  margin-top: 20px;
  margin-right: 25px;
}
/*************************Qui suis je*****************************************/
.page4{
  text-align: center;
  padding-bottom: 55%;
  background-color: #161616;
}
#para3{
  font-size: 20px;
  color:#c0a062;
  margin-top: 20px;
  margin-left: 45px;
}
/**************************Loisirs********************************************/
.page5{
  text-shadow: 1px 1px 1px #080808;
  text-align: center;
  color:#FFFEFD;
  background-image: url("./images/loi.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.75;
  padding-bottom: 55%;
}
#para4{
  font-size: 20px;
  margin-top: 20px;
  margin-right: 45px;
}
/*************************Contact*********************************************/
.page6{
  color: #c0a062;
  text-align: center;
  background-color: #161616;
  font-size: 20px;
  padding-bottom: 55%;
}
/**************************Reponsive*****************************************/
