h1{
  font-size: 40px;
  line-height: normal;
  text-align: right;
  font-family: 'Rock Salt', cursive;
  margin-right: 10px;
  padding-right: 10px;
  color: black;

}
h3{
  font-family: 'Monoton', cursive;
  font-size:20px;
  margin-bottom: 10px;
}
article{
  font-family: 'Yellowtail', cursive;
}
section{
  padding: 10%;

}
.imgdroite{
  float: right;
  padding-right: 40px;
  padding-top: 100px;
}
.imggauche{
  float: left;
  padding-left: 40px;
  padding-top: 100px;
}
.para1{

  color: #DBA901;
  margin-top: 20px;
  float:left;
  width:40%;
  padding-left: 45px;
}
.para2{
  margin-top: 20px;
  float:right;
  width:40%;
  margin-right: 45px;
}
.para3{
  margin-top: 20px;
  float:left;
  width:40%;
  margin-left: 45px;
}
.para4{
  margin-top: 20px;
  float:right;
  width:40%;
  margin-right: 45px;
}
.navigateur{
  list-style: none;
}
.logo{
  padding-top: 10px;
  text-align: center;
}
.page1{
  padding-bottom: 55%;
  background-image: url(images/dev.png);
  background-size: cover;
}
.page2{
  padding-bottom: 55%;
  background-color: #161616;
}
.page3{
  padding-bottom: 55%;
  background-color: #FFFFFF;
}
.page4{
  padding-bottom: 55%;
  background-color: #161616;
}
.page5{
  padding-bottom: 55%;
  background-color: #FFFFFF;
}
.page6{
  padding-bottom: 55%;
  background-color: lightgreen;
}
